[alias]
        br = branch
        ci = commit
        cia = commit -a --amend --no-edit
        g = grep --break --heading --line-number
        pick = cherry-pick
        pickt = cherry-pick --strategy=recursive -X theirs
        pullo = pull -s recursive -X ours
        pullr = pull --rebase --autostash
        pullt = pull -s recursive -X theirs
        pushf = push --force-with-lease
        st = status
        sw = switch
        unstash = stash pop
        # Externals
        delete-merged = "!git branch --merged | grep -v '^\\*\\|main\\|master' | xargs -n 1 git branch -d"
        pullall = !~/bin/git-pullall.sh
        rebase-merge = !~/bin/git-rebase-via-merge.sh
        # Logs
        changed = "!sh -c 'git log --name-only --pretty=\"%%\" \"$@\" | sort -u | sed \"1,2d\"' -"
        glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
        olog = log --oneline
        sdiff = log -p --no-walk
        slog = log --pretty="format:'%C(yellow)%h%Creset %ar by %an: %s'"
[user]
	name = Sven Axelsson
	email = himself@svenax.net
[includeIf "gitdir:~/Develop/kvd/"]
	path = ~/.config/git/work.gitconfig
[core]
	excludesfile = /Users/svenax/.config/git/ignore
        precomposeunicode = true
        quotepath = off
        whitespace = cr-at-eol
        pager = /usr/bin/less
	editor = code --wait
[color]
        branch = auto
        diff = auto
        status = auto
        ui = auto
[color "branch"]
        current = bold
        remote = yellow
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
[mergetool]
        keepBackup = true
	prompt = false
[push]
        default = current
[rerere]
	enabled = true
[tag]
	forceSignAnnotated = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[bulkworkspaces]
	kvd = /Users/svenax/Develop/kvd
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
